# Next.js environment variables
NEXT_PUBLIC_SUPABASE_URL=https://hkkoeuccmklxchmymaae.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imhra29ldWNjbWtseGNobXltYWFlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTgxMDc1ODMsImV4cCI6MjA3MzY4MzU4M30.2g4jfcD-NCTb3cpRO8SWImJStZ_EHZbiJdJS015OFY8
# Optional service role (DO NOT expose to client; use only on server if needed)
SUPABASE_SERVICE_ROLE_KEY=

